In [3]:
import spacy
import pandas as pd

In [2]:
trained_nlp = spacy.load(r"C:\Users\miremezo\Site\CSC381\Ebay-ML-challenge\ebay\models\ouput\model-best")
doc = trained_nlp("Louis Vuitton")

print()
for ent in doc.ents:
    print (ent.text, ent.label_)

TypeError: Language.__call__() takes 2 positional arguments but 3 were given

In [4]:
Quiz=pd.read_csv("Listing_titles.tsv.gz", sep="\t", on_bad_lines='skip')
Quiz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19971958 entries, 0 to 19971957
Data columns (total 2 columns):
 #   Column         Dtype
---  ------         -----
 0   Record Number  int64
 1   Title          object
dtypes: int64(1), object(1)
memory usage: 304.7+ MB

In [10]:
test=Quiz.iloc[5001:30001]
test.tail(10)

       Record Number                                              Title
29991          30102  NEW-PAUL & JOE SISTER PERFORE CHAT Leather Cat...
29992          30103  Violet Ray tan tote bag for women ( used - $ 4...
29993          30104  CN _ Solid Color Faux Leather Deer Pendant Wom...
29994          30105  michael kors Bag Mk Logo Authentic . Beautiful...
29995          30106  Sling Handbag Bags Women 's Ladies Cross body ...
29996          30107  Coach Tote Purse Handbag Brown Monogram Canvas...
29997          30108  RADLEY BEIGE BLACK LEATHER TRIM HANDBAG TOTE S...
29998          30109             COACH f29282 - PEYTON OMBRE CORA DOMED
29999          30110  Coach Poppy Signature Pastel Plaid Crossbody B...
30000          30111      Red Valentino Embroidered Birds Denim Bag New

In [37]:
test["Trained"]=test["Title"].apply(trained_nlp)
test.info()

# for ent in docents:
#     print (ent.text, ent.label_)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 5001 to 30000
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Record Number  25000 non-null  int64
 1   Title          25000 non-null  object
 2   Trained        25000 non-null  object
dtypes: int64(1), object(2)
memory usage: 586.1+ KB

C:\Users\miremezo\AppData\Local\Temp\ipykernel_8660\2217825791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["Trained"]=test["Title"].apply(trained_nlp)

In [48]:
record_number=[]
Aspect_value=[]
Aspect_name=[]

for index, row in test.iterrows():
    for ent in row["Trained"].ents:
        record_number.append(row['Record Number'])
        Aspect_value.append(ent.text)
        Aspect_name.append(ent.label_)


submission=pd.DataFrame(
    {'record_number':record_number ,
     'Aspect_name': Aspect_name,
     'Aspect_value': Aspect_value
    })
  
# print(doc.iloc[5001].ents[13].text, doc.iloc[5001].ents[13].label_)
# doc.iloc[5001]

        record_number   Aspect_name  Aspect_value
36211            9200        Memoir        No Tag
94279           15925           new        No Tag
159715          23516           Bag          Type
122534          19208         Sling  Handle Style
134048          20519          with        No Tag
179242          25780  Front Pocket   Pocket Type
160517          23607          Pink         Color
190588          27100      Shoulder          Type
209460          29259        M56382           MPN
99297           16507     Sequinned          Type

In [62]:
submission['Aspect_name']=submission['Aspect_name'].astype('str')
submission['Aspect_name']=submission['Aspect_name'].astype('str')
submission.to_csv(r"C:\Users\miremezo\Site\CSC381\Ebay-ML-challenge\ebay\Submissions\quiz.tsv",index=False, header=False, encoding='utf-8')

In [59]:

submission.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216841 entries, 0 to 216840
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   record_number  216841 non-null  int64
 1   Aspect_name    216841 non-null  object
 2   Aspect_value   216841 non-null  object
dtypes: int64(1), object(2)
memory usage: 5.0+ MB