In [ ]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("Train_Tagged_titles.tsv.gz", sep="\t", on_bad_lines='skip')
df.columns

Index(['Record Number', 'Title', 'Token', 'Tag'], dtype='object')

In [4]:
df1=df["Tag"]=="NaN"

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 38204    False
 38205    False
 38206    False
 38207    False
 38208    False
 Name: Tag, Length: 38209, dtype: bool]

In [12]:
agg_d = {'Record Number': 'first', 'Title': 'first',
         'Token': lambda x: ' '.join(x.dropna()),
          'Tag': 'first'}

df1=df.groupby(df.Tag.notnull().cumsum().rename(None)).agg(agg_d)

In [13]:
df1

,Record Number,Title,Token,Tag
1,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,LOUIS VUITTON,Brand
2,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,M40096,MPN
3,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,Handbag,Type
4,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,Priscilla,Model
5,1,LOUIS VUITTON M40096 Handbag Priscilla Multi-c...,Multi-color,Color
...,...,...,...,...
33412,5000,Botkier Sasha Medium Duffel Bag Coral Leather ...,Top,No Tag
33413,5000,Botkier Sasha Medium Duffel Bag Coral Leather ...,Closure,No Tag
33414,5000,Botkier Sasha Medium Duffel Bag Coral Leather ...,Retail,No Tag
33415,5000,Botkier Sasha Medium Duffel Bag Coral Leather ...,$,No Tag
33416,5000,Botkier Sasha Medium Duffel Bag Coral Leather ...,595,No Tag